extend index

block head
    link(rel='stylesheet', href='stylesheets/cache_select.css')
    script.
        const renderer = electron.ipcRenderer;
        let cacheLocation;

        renderer.send('cache:set-hard-location');

        renderer.on('cache:set-hard-location', (event, data) => {
            cacheLocation = data;
            $('#cache-location').html('Location: '+cacheLocation);
            $('#load-scripts-btn').click();
        });

        renderer.on('cache:error', (event, error) => {
            setError(error);
            $('#load-scripts-btn').attr('disabled', false);
            $('#browse-cache-btn').attr('disabled', false);
            $('#load-scripts-btn').html('Load CS2Scripts');
        });

        $(document).on('click', '#browse-cache-btn', () => {
            $('#cache-location-select').click();
        });

        $(document).on('click', '#load-scripts-btn', function() {
            if(!cacheLocation) {
                setError('Cache location must be selected');
                return false;
            }
            renderer.send('cache:load');
            $(this).attr('disabled', true);
            $('#browse-cache-btn').attr('disabled', true);
            $('#load-scripts-btn').html('Loading...');
        });

        $(document).on('change', '#cache-location-select', function() {
            let file = $(this)[0].files[0];
            let path = file.path.replace(file.name, '');
            cacheLocation = path;
            $('#cache-location').html('Location: '+path);
            renderer.send('cache:set-location', path);
            console.log('Loaded path:' +path);
        });

        function setError(error) {
            $('#error').html(error);
            $('#error').css('display', '');
            $('#error').fadeOut(5000);
        }

block main_content
    p#select-title CS2Editor
    p#cache-location Location:
    p#error
    input#cache-location-select(type='file' webkitdirectory directory multiple)
    button.button#load-scripts-btn Load CS2Scripts
    button.button#browse-cache-btn Browse Cache