html
  head
    link(rel='stylesheet', href='stylesheets/index.css')
    link(rel='stylesheet', href='stylesheets/context_menu.css')
    link(rel='stylesheet', href='stylesheets/fa/css/all.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bad+Script&display=swap')
    script.
      if (typeof module === 'object') { window.module = module; module = undefined;}
    script.
      if(window.module) module = window.module;
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='script/index.js')
    block head
  body
    div#wrapper
      div#title-bar
        img#title-img(src='images/icon.png')
        div#title= title != null ? title : ''
        div.buttons
          div#minimize-button
          div#maximize-button
          div#exit-button
      div#main-content
        block main_content
      div#context-menu
        div#context-list
